body {
  background-color: indigo;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://i.pinimg.com/originals/e3/e2/ed/e3e2ed916f12bfecfa6d62c55c2490b7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  font-size: 62.5%;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

canvas {
  border: 4px solid #245500;
  border-radius: 8px;
  background-color: #76d777;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  width: 100%;
}

.up {
  color: white;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0;
}
.left {
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0;
}
.right {
  color: white;
  background-color: rgb(255, 0, 102);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0;
}
.down {
  color: white;
  background-color: rgb(4, 194, 14);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0;
}
.reset {
  color: white;
  background-color: rgb(194, 4, 4);
  border-radius: 20px;
  margin: 0;
  width: 80px;
  padding: 5px 0px 5px 0px;
}

.messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 5px;
}
.info {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 10px 0px 20px;
}
.vida {
  margin-right: 10px;
}

p {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  margin: 0 5px 0 5px;
}

@media (max-width: 440px) {
  button {
    margin-top: 5px;
  }
  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}
